body {
  height: 100vh;
}
#root {
  height: 100%;
}
body::after {
  content: '';
  background: url('https://imgs.search.brave.com/PJcvLBmSxJq4Bs4sri4aSQaGmEL_O7yXnELsdHRHSIk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kZWNv/bG9uaXplcGFsZXN0/aW5lLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyMS8wNC9w/b3MtNDEuanBn');
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.toolbar {
  min-height: 50px !important;
}
